$cell-alternate-fill: #f4f4f4;
$cell-muted-color: #bbb;

.CellLineTable {
  .table > tbody > tr > td {
    vertical-align: middle;
  }
  .mutation-mut {
    background-color: $cell-alternate-fill;
  }

  .no-data, .mutation-no-data {
    color: $cell-muted-color;
  }

  .label-list {
    margin: 0;
  }
}