$drug-diagram-width: 80px;
$bottom-bar-height: 20px;
$drug-card-height: 100px;

$preclinical-color: rgba(180, 180, 180, 0.5); // rgba 0.5 gives nier looking circles
$phase1-color: rgba(73, 156, 83, 0.5);
$phase2-color: rgba(20, 127, 189, 0.5);
$phase3-color: rgba(109, 73, 156, 0.5);
$approved-color: rgba(199, 155, 29, 0.5);

.DrugCard {
  position: relative;
  width: 240px;
  height: $drug-card-height;
  display: inline-block;
  margin: 0 10px 10px 0;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px + $drug-diagram-width;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  vertical-align: top;

  &.has-synonyms {
    height: $drug-card-height + $bottom-bar-height + 5px;

    .drug-bottom-bar {
      display: block;
    }
  }

  .drug-stage {
    border-radius: 4px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 11px;
    background: #fff;
    border: 1px solid rgba(156, 156, 156, 0.5);
    color: rgba(156, 156, 156, 0.5);
    cursor: default;
    position: absolute;
    top: 5px;
    left: 5px;

    &.drug-stage-00-preclinical {
      border-color: $preclinical-color;
      color: rgba($preclinical-color, 1);
    }
    &.drug-stage-10-phase1 {
      border-color: $phase1-color;
      color: rgba($phase1-color, 1);
    }
    &.drug-stage-20-phase2 {
      border-color: $phase2-color;
      color: rgba($phase2-color, 1);
    }
    &.drug-stage-30-phase3 {
      border-color: $phase3-color;
      color: rgba($phase3-color, 1);
    }
    &.drug-stage-40-approved {
      border-color: $approved-color;
      color: rgba($approved-color, 1);
    }
  }

  .drug-diagram {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: $drug-diagram-width;
    height: 80px;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .drug-name {
    font-size: 1.1em;
  }

  .drug-target {
    font-size: 0.80em;
    color: #888;
  }

  .drug-datasets {
    margin-top: 6px;
  }

  .drug-bottom-bar {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    height: $bottom-bar-height;
    line-height: $bottom-bar-height;
    text-align: center;
    color: #bbb;
    font-size: 0.75em;

  }

  .drug-synonyms {
    background-color: #f6f6f6;
    padding: 0 4px;
    border-radius: 0 0 4px 4px;
  }

  .drug-synonym {
    color: #888;
  }

}
