
.DatasetReceptorProfilePage {
  .cell-line-view-controls {
    padding-bottom: 15px;
  }

  .chart-controls {
    .form-group {
      width: 250px;
      float: left;
    }
  }

  .right-waterfall-container {
    border-left: 1px solid #eee;
  }

  .small-mults-container {
    border-left: 1px solid #eee;
  }

  .waterfall-help {
    padding:40px 20px 0 20px;
    p {
      text-align: center;
      color: #777;
    }
  }

}
