
.DatasetReceptorProfilePage {
  .cell-line-view-controls {
    padding-bottom: 15px;
  }

  .chart-controls {
    .form-group {
      width: 250px;
      float: left;
    }
  }

  .right-waterfall-container {
    border-left: 1px solid #eee;
  }

  .small-mults-container {
    border-left: 1px solid #eee;
  }

}
