@import "../../assets/variables";

.top-nav {
  font-weight: 300;
  border-bottom: 1px solid #e8e8e8;
  margin: 0 (-$grid-gutter-width/2);
  background: #fff;

  .logo {
    height: 30px;
    display: inline-block;
    margin-right: 150px;
  }

  .site-title {
    display: inline-block;
    vertical-align: middle;
    color: #aaa;
    font-size: 2rem;
  }

  .nav-links {
    font-size: 2rem;
    margin-bottom: 0;

    a {
      padding: 15px 20px 14px;
      display: block;
      border-bottom: 1px solid transparent;
      color: #888;
      text-decoration: none;

      &.active {
        color: $brand-primary;
        font-weight: 400;
      }

      &:hover {
        color: $brand-primary;
        text-decoration: none;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}
