@import "../../assets/variables";

$count-width: 60px;

.MultiSelectList {
  &.has-counts {
    li {
      padding-right: $count-width;
    }
  }

  li {
    margin-bottom: 4px;
    cursor: pointer;
    position: relative;

    .item-label {
      display: inline-block;
      padding: 2px 6px;
      border-radius: 4px;
      margin-left: -6px;
    }

    .item-count {
      white-space: nowrap;
      position: absolute;
      right: 0;
      top: 0;
      width: $count-width;
    }

    .item-count-value {
      display: inline-block;
      width: 23px;
      text-align: right;
      margin-right: 5px;
      color: #ccc;
    }

    .item-count-bar {
      height: 5px;
      background-color: #ccc;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
    }

    &:hover {
      .item-label {
        background-color: rgba(255,255,255,0.5);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        color: $brand-primary;
      }

      .item-count-value {
        color: #888;
      }

      .item-count-bar {
        background-color: #888;
      }
    }

    &.active {
      &:hover {
        .item-label {
          background-color: darken($brand-primary, 10%);
        }
      }

      .item-label {
        background-color: $brand-primary;
        color: #fff;
        font-weight: 400;
        margin-left: 0;
      }

      .item-count-value {
        color: $brand-primary;
      }

      .item-count-bar {
        background-color: $brand-primary;
      }
    }

  }
}