.DatasetGrowthFactorPaktPerkPage {
  .waterfalls-container {
    margin-top: 40px;
  }
  .parallel-coordinates-container {
    margin: 20px;
  }
  .help {
    padding: 40px 20px 0 20px;
    text-align: center;
  }
}
