
.WaterfallPlot {
  .name {
    font-weight: 400;
    font-size: 1.1em;
    &.left {
      padding-left: 80px;
    }
  }

  rect {
    shape-rendering: crispEdges;
  }

  rect.bar.highlight {
    fill: #9679af !important;
  }

  rect.threshold {
    fill: #ddd;
  }

  rect.threshold.highlight {
    fill: #b48fd4 !important;
  }

  rect.hover {
    opacity: 0.0;
  }

  text.label {
    fill: #777;
    font-size: 14px;
  }

  text.highlight {
    font-weight: 400;
    fill: black;
  }

  text.disabled {
    fill: #999;
  }

  .highlight-value {
    fill: #888;
    font-size: 14px;
  }

  .axis {
    shape-rendering: crispEdges;
    .tick {
      font-size: 12px;
    }

    &.x line {
      stroke: #ddd;
    }

    &.x .minor {
      stroke-opacity: .5;
    }

    &.x path {
      display: none;
    }
  }

}
