@import "../../assets/variables";

$threshold-color: #ddd;
$toggled-color: $chart-toggled-color;
$toggled-threshold-color: $chart-toggled-color-lighter;
$highlight-color: $chart-highlight-color;
$highlight-threshold-color: $chart-highlight-color-lighter;

.WaterfallPlot {
  .name {
    font-weight: 400;
    font-size: 1.1em;
    &.left {
      padding-left: 80px;
    }
  }

  rect {
    shape-rendering: crispEdges;
  }

  .threshold {
    fill: $threshold-color;
    &.highlight {
      fill: $highlight-threshold-color !important;
    }

    &.toggled {
      fill: $toggled-threshold-color !important;
    }
  }

  .bar {
    &.highlight {
      fill: $highlight-color !important;
    }

    &.toggled {
      fill: $toggled-color !important;
    }
  }

  rect.mouse-handler-bar {
    opacity: 0.0;
    cursor: pointer;
  }

  .label-click-control {
    font: normal normal normal 14px/1 FontAwesome;
    fill: $link-color;
    cursor: pointer;
    opacity: 0;
  }
  .toggled .label-click-control {
    opacity: 1;
  }

  .label {
    fill: #777;
    font-size: 14px;

    &.highlight, &.toggled {
      font-weight: 400;
      fill: #333;
    }

    &.disabled {
      fill: #999;
    }
  }

  .bar-value {
    fill: #888;
    font-size: 14px;
    pointer-events: none;
  }

  .item-axis-label,.value-axis-label {
    font-size: 12px;
    font-weight: 400;
    color: #666;
  }

  .axis {
    shape-rendering: crispEdges;
    .tick {
      font-size: 12px;
    }

    &.x line {
      stroke: #ddd;
    }

    &.x .minor {
      stroke-opacity: .5;
    }

    &.x path {
      display: none;
    }
  }

}
