
.SmallWaterfallPlot {
  position: relative;
  width: 100px;
  height: 120px;
  display: inline-block;
  margin: 0 20px 10px 0;
  padding: 5px;

  cursor:pointer;

  &:hover {
    background-color: #f6f6f6;
  }

  &.active {
    background-color: #eee;
  }

  .name {
    font-size: 0.7em;
    text-align: center;
  }


}
