@import "../../assets/variables";

$mutation-darken-amount: 0.15;

.CellLineGlyph {
  display: inline-block;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #eee;

  .gene-letter {
    fill: #bbb;
    font-size: 10px;
    pointer-events: none;
  }

  .receptor-status-label, .gene-name {
    font-size: 10px;
  }

  .highlight {
    pointer-events: none; // this prevents losing highlight if hovering over the letter

    tspan {
      font-weight: 400;

      &.no-data {
        fill: #bbb;
        font-weight: 300;
      }
    }
  }

  line {
    transition: .1s stroke;
    pointer-events: none;
    stroke: #888;
    stroke-width: 1px;

    &.mutation {
      stroke: darken(#888, $mutation-darken-amount);
      stroke-width: 2px;
    }
  }

  &.receptor-status-nm {
    line {
      stroke: $nm-color;
      &.mutation {
        stroke: darken($nm-color, $mutation-darken-amount);
      }
    }

    .receptor-status-label, .gene-name {
      fill: $nm-color;
    }
  }

  &.receptor-status-her2amp {
    line {
      stroke: $her2amp-color;
      &.mutation {
        stroke: darken($her2amp-color, $mutation-darken-amount);
      }
    }

    .receptor-status-label, .gene-name {
      fill: $her2amp-color;
    }
  }

  &.receptor-status-tnbc {
    line {
      stroke: $tnbc-color;
      &.mutation {
        stroke: darken($tnbc-color, $mutation-darken-amount);
      }
    }

    .receptor-status-label, .gene-name {
      fill: $tnbc-color;
     }
  }

  &.receptor-status-hrplus {
    line {
      stroke: $hrplus-color;
      &.mutation {
        stroke: darken($hrplus-color, $mutation-darken-amount);
      }
    }

    .receptor-status-label, .gene-name {
      fill: $hrplus-color;
    }
  }

  &.has-highlight .not-highlighted {
    line {
      stroke: #ddd;

      &.mutation {
        stroke: darken(#ddd, $mutation-darken-amount);
      }
    }
  }
}
